@charset "UTF-8";


.list-item-theme {
  border-radius: var(--brd-radius);

  .fa-solid {
    margin-right: .5rem;
  }

  &:hover,
  &:focus-visible {
    background-color: var(--clr-secundary);

    .fa-solid {
      color: var(--clr-primary);
    }

    .list-item-theme__link {
      color: var(--clr-primary);
    }
  }
}

.is-list-item-active {
  background-color: var(--clr-secundary);

  .fa-solid {
    color: var(--clr-primary);
  }

  .list-item-theme__link {
    color: var(--clr-primary);
  }
}
