@charset "UTF-8";


.c-menu-bars {
  height: var(--a11y-clickable-area);
  padding: 0;
  width: min-content;

  :where(&:hover, &:focus-visible) .bar {
    width: 100%;
  }

  .bar {
    --_adjustment-factor: 100ms;

    transform-origin: center;
    transition:
      transform
        var(--timing-duration)
        var(--timing-function)
      ,
      opacity
        var(--timing-duration)
        var(--timing-function)
      ,
      width
        calc(
          var(--timing-duration) - var(--_adjustment-factor)
        )
        var(--timing-function)
    ;
  }
}

.is-menu-bars-active:not(:hover) :where(.bar) {
  width: 100%;
}
